*{
    box-sizing:border-box;
}

body{
    display:grid;
    /* width:100%;
    height:100vh;    */
}
 .container2{
 padding:20px;
 height:850px;
 width:500px;
 place-items:center;
} 

input[type=text], textarea{
    place-items:center;
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
    margin-top:6px;
    margin-bottom:16px;
    resize:vertical;
}
input[type=button]{
    padding:10px 15px;
    border-radius:4px;
}